# Creating List

In [7]:
num=[1,2,3,4]  #Numbers print
print(num)

[1, 2, 3, 4]

In [3]:
letter=['a','b','c','d']  #Letters print
print(letter)

['a', 'b', 'c', 'd']

In [4]:
char=["Hii","Pranali","How","are","u"]  #Characters print
print(char)

['Hii', 'Pranali', 'How', 'are', 'u']

In [5]:
mix=[1,'a',"Hii",2,'b',"Pranali"]   #Combine (Numbers,Letters,Characters) print
print(mix)

[1, 'a', 'Hii', 2, 'b', 'Pranali']

In [6]:
matrix=[[1,2],['a','b'],["Hii","Pranali"]]   #Nested List print
print(matrix)

[[1, 2], ['a', 'b'], ['Hii', 'Pranali']]

In [50]:
list=[]
print(list)

[]

# Accessing List Elements

In [9]:
print(mix)

[1, 'a', 'Hii', 2, 'b', 'Pranali']

In [10]:
mix[2] #Print 2nd location value

'Hii'

In [12]:
mix[-2] #Print 2nd location value from the end

'b'

In [13]:
mix[:2] #Print value from first index to that particular index(2) and not print 2nd location value

[1, 'a']

In [15]:
mix[3:] #Print value from that particular index(3) to end of the list and print 3rd location value also

[2, 'b', 'Pranali']

In [17]:
mix[2:5] #Print value from 1st particular index(2) to 2nd particular index(5) & print only 1st index value not 2nd

['Hii', 2, 'b']

In [18]:
mix[::2] #Skip 1 value and then print

[1, 'Hii', 'b']

In [19]:
mix[::3] #Skip 2 values and then print

[1, 2]

In [23]:
mix[1::2] #Skip elements till first particular index and then skip 1 value and then print

['a', 2, 'Pranali']

In [24]:
mix[2::3] #Skip elements till first particular index and then skip 2 values and then print

['Hii', 'Pranali']

In [25]:
mix[::-1] #Print list in reverse order

['Pranali', 'b', 2, 'Hii', 'a', 1]

# Operations on List

In [27]:
#Print "0" 100 times without using any loop
z=[0]*100
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
#Concatenate 2 Lists
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=l1+l2
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
#Print 1 by 1 letter in ' ' code
var=list("Pranali")
print(var)

['P', 'r', 'a', 'n', 'a', 'l', 'i']

In [31]:
print(l1)

[1, 2, 3, 4, 5]

In [32]:
#Print 1 in diff. list and others element in diff. list
one, *other=l1
print(one)
print(other)

1
[2, 3, 4, 5]

In [33]:
#Print 1 & 2 in diff. list and others element in diff. list
one, two, *other=l1
print(one)
print(two)
print(other)

1
2
[3, 4, 5]

# Methods in List

In [35]:
#1. append()= Add elements at end of the list
l1.append(6)
print(l1)

[1, 2, 3, 4, 5, 6, 6]

In [36]:
l1.append(7)
print(l1)

[1, 2, 3, 4, 5, 6, 6, 7]

In [37]:
#2. extend()= Add another list at end of the list
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 6, 7, 6, 7, 8, 9, 10]

In [38]:
#3. insert()= Add element to particular index that u define
l1.insert(1,10) #Add first location to 10
print(l1)

[1, 10, 2, 3, 4, 5, 6, 6, 7, 6, 7, 8, 9, 10]

In [39]:
#4. remove()= Remove element that u define
l1.remove(5)
print(l1)

[1, 10, 2, 3, 4, 6, 6, 7, 6, 7, 8, 9, 10]

In [41]:
l1.remove(6)
print(l1)

[1, 10, 2, 3, 4, 6, 7, 6, 7, 8, 9, 10]

In [42]:
#5. sort()= Sort elements in ascending order
a=[5,4,3,7,1,2]
a.sort()
print(a)

[1, 2, 3, 4, 5, 7]

In [43]:
b=['e','d','c','b','a']
b.sort()
print(b)

['a', 'b', 'c', 'd', 'e']

# Built-in functions in list

In [44]:
#1. len()= Define length of list
x=[9,17,14,4,90,55]
len(x)

6

In [45]:
#2. min()= Define Minimum value
min(x)

4

In [46]:
#3. max()= Define Maximum value
max(x)

90

In [47]:
#4. sum()= Summation/Addition of all numbers in list
sum(x)

189

In [48]:
#5 Calculate average
sum(x)/len(x)

31.5

In [1]:
l=[1,2,3]
print(l)

[1, 2, 3]

In [2]:
print(l[1])

2

In [3]:
a=[0]*100
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [5]:
print(0*100)

0

In [6]:
one,*other=l
print(one,other)

1 [2, 3]

In [7]:
l.append(4)

In [8]:
l

[1, 2, 3, 4]

In [9]:
l1=[5,6,7,8]
l.extend(l1)

In [10]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
t=(1,2,3)
print(type(t))

<class 'tuple'>

In [12]:
l=list(t)

In [13]:
l

[1, 2, 3]

In [14]:
print(type(l))

<class 'list'>

In [15]:
l.append(4)
print(l)

[1, 2, 3, 4]

In [16]:
t=tuple(l)

In [17]:
t

(1, 2, 3, 4)

In [18]:
print(type(t))

<class 'tuple'>

In [19]:
d={1:'a',2:'b',3:'c'}
d

{1: 'a', 2: 'b', 3: 'c'}

In [20]:
d.values()

dict_values(['a', 'b', 'c'])

In [21]:
keys={1,2,3,4,5}
value=6
dict.fromkeys(keys,value)

{1: 6, 2: 6, 3: 6, 4: 6, 5: 6}

In [22]:
s=set([1,2,3,4])
print(type(s))

<class 'set'>

In [23]:
s={1,2,3,4}
print(type(s))

<class 'set'>

In [24]:
s.add(5)

In [25]:
s

{1, 2, 3, 4, 5}

In [26]:
s.add('a')
s

{1, 2, 3, 4, 5, 'a'}

In [28]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [29]:
s1.difference(s2)

{1, 2}

In [30]:
s1.intersection(s2)

{3, 4, 5}

In [32]:
from array import *
arr=array('i',[1,2,3,4,5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [33]:
print(arr.buffer_info())

(1563381202800, 5)

In [34]:
for a in arr:
    print(a)

1
2
3
4
5

In [35]:
for a in arr:
    print(a,end=" ")

1 2 3 4 5

In [37]:
for pnt in range(5):
    print(pnt,arr[pnt])

0 1
1 2
2 3
3 4
4 5

In [39]:
print(arr.reverse())

None

In [40]:
arr

array('i', [5, 4, 3, 2, 1])

In [41]:
def a(*b):
    print(b)
a(1,2,3,4)

(1, 2, 3, 4)

In [42]:
import pandas as pd

In [43]:
print(pd.__version__)

1.4.2

In [44]:
s=[1,2,3,4,5]
print(pd.Series(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
order=['A','B','C','D','E']
print(pd.Series(s,index=order))

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [46]:
import numpy as np
n=np.random.randn(5)
order=['A','B','C','D','E']
print(pd.Series(n,index=order))

A    0.598994
B   -0.715262
C   -1.215419
D   -0.115791
E    2.800968
dtype: float64

In [47]:
d=[10,20,30,40,50]
print(pd.DataFrame(d))

    0
0  10
1  20
2  30
3  40
4  50

In [55]:
d=[10,20,30,40,50]
df=pd.DataFrame(d,index=order,columns=['A'])
df

    A
A  10
B  20
C  30
D  40
E  50

In [57]:
df.head(3)

    A
A  10
B  20
C  30

In [58]:
df.tail(3)

    A
C  30
D  40
E  50

In [59]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [60]:
df.columns

Index(['A'], dtype='object')

In [62]:
df.columns

Index(['A'], dtype='object')

In [63]:
df.isnull()

       A
A  False
B  False
C  False
D  False
E  False

In [64]:
df.loc['A','A']=100

In [65]:
df

     A
A  100
B   20
C   30
D   40
E   50

In [66]:
df.describe()

                A
count    5.000000
mean    48.000000
std     31.144823
min     20.000000
25%     30.000000
50%     40.000000
75%     50.000000
max    100.000000

In [67]:
df.sum()

A    240
dtype: int64

In [68]:
df.min()

A    20
dtype: int64

In [69]:
df.max()

A    100
dtype: int64